@{
    ViewData["Title"] = "Home Page";
}

    <form action="/Home/GetPersonById" method="post">
        <input type="number" name="id" placeholder="search by I.D." />

        <input type="submit" value="Person Search" />
    </form>


    <form action="/Home/GetPlanetById" method="post">
        <input type="number" name="id" placeholder="search by Planet"/>

        <input type="submit" value="Planet Search" />
    </form>